

body{
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: #222222;
  position: relative;
}

/* foto perfil */
.pic_perfil{
  width:200px;
  height:200px;
  border-radius:150px;
  justify-content: center;
  align-items: center;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caracteristicas h1 y p */
h1{
  font-size: 20px;
  color: red; 
}

p {
  text-align: justify;
  color: #504C4B;
}

/* Formulario */
input[type=text], select, textarea {
  font-family: 'Courier New', Courier, monospace;
  width: 100%; /* Full width */
  padding: 12px; /* padding */ 
  border: 1px solid #232277; /* Borde y color label */
  border-radius: 4px; 
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical /* resize the textarea */
}

/* Caracteristicas del boton  de enviar*/
input[type=submit] {
 background-color: #219f27;
 border-radius: 4px;
 border: 1px solid #77bf7b;
 color: #bdc7bd;
}

input[type=submit]:hover {
  background-color: #0d2151;
  border-radius: 4px;
  border: 1px solid #bdc7bd;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}